// @use "../../variables/variables" as *;
@import "../../variables/variables";

// Landing Component

.Landing {
  grid-column: 1 / -1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.imgContainer {
  grid-column: 1 / -1;
  background-color: blue;
}