.Articles {
  // background-color: palegoldenrod;
  grid-column: 2 / -1;
  grid-row: articles / calculator;

  .title {
    margin-top: 3vh;
    font-family: var(--font-serif);
    font-size: 3.4rem;
    // font-weight: bolder;
    font-weight: 400;
    // margin-left: 2rem;
  }
}