.Articles {
  // background-color: palegoldenrod;
  grid-column: 1 / -1;
  grid-row: articles / calculator;

  .carouselContainer {
    // background-color: lightgreen;
    height: max-content;
    display: flex;
    justify-content: flex-start;
  }
}