.Articles {
  background-color: palegoldenrod;
  grid-column: 1 / -1;
  grid-row: articles / calculator;
  overflow: hidden;
}

.items {
  background-color: black;

  .item {
    background-color: lightcoral;
  }
}
