.About {
  // background-color: paleturquoise;
  grid-column: 1 / -1;
  grid-row: about / articles;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(5vh, 1fr) minmax(35rem, 6fr) minmax(5vh, 1fr);
  grid-template-rows: 5vh auto auto;
  row-gap: 5rem;
  overflow-x: hidden;

  // large text section //
  .textContainer {
    grid-column: 2;
    grid-row: 2;
    height: max-content;
    // background-color: bisque;
    display: grid;
    grid-template-columns: max-content 1fr minmax(20rem, 60rem);
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto auto auto;
    }
    .bigText {
      grid-column: 1;
      width: max-content;
      display: flex;
      flex-direction: column;
      font-family: "Playfair Display", serif;
      font-size: calc(1rem + 1.5vw);
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        grid-column: 1;
        grid-row: 2;
      }
    }
    .aboutTextContainer {
      // background-color: rgb(64, 69, 141);
      grid-column: 3;
      max-width: 60rem;
      height: max-content;
      font-family: "Source Sans Pro", sans-serif;
      font-size: calc(0.8rem + 1vw);
      line-height: 140%;

      @media screen and (max-width: 768px) {
        grid-column: 1;
        grid-row: 3;
      }
    }
  }

  // DOUBLE IMAGE SECTION
  .imageSection {
    grid-column: 2;
    grid-row: 3;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: var(--padding-bg);

    @media screen and (max-width: 768px) {
      grid-column: 2;
      grid-row: 3;
    }

    .doubleImageContainer {
      width: 100%;
      height: 100%;
      // background-color: lightyellow;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../../assets/images/medium-white-flowers.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .doubleImage {
        width: 80%;
        height: 80%;
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
          url(../../assets/images/medium-crosswalk-left-right.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }

  //   // FullDetail Section //
  //   .stacked {
  //     background-color: yellowgreen;
  //     width: 100%;
  //     height: 100vh;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     padding: 0 30px 1rem 30px;
  //     overflow: hidden;

  //     .stackedGridContainer {
  //       // background-color: lightcoral;
  //       width: 80%;
  //       max-width: 1000px;
  //       display: grid;
  //       grid-template-columns: repeat(12, 1fr);
  //       position: relative;

  //       .topImage {
  //         background-color: lightgreen;
  //         // background-color: rgba(26, 26, 26, 1);
  //         grid-column: 1 / span 10;
  //         grid-row: 1;
  //         // padding-top: 40%;
  //         // height: 100%;
  //         // overflow: hidden;
  //         // z-index: 11;

  //         //edit
  //         height: 50%;
  //         overflow: hidden;

  //         img {
  //           max-width: 100%;
  //           display: block;
  //         }
  //       }

  //       .bottomImage {
  //         // background-color: rgba(26, 26, 26, 1);
  //         grid-column: 6 / -1;
  //         grid-row: 1;
  //         height: 80%;
  //         overflow: hidden;

  //         // edit
  //         padding-top: 40%;
  //         height: 90%;
  //         overflow: hidden;
  //         z-index: 11;

  //         img {
  //           min-height: 100%;
  //           max-width: 100%;
  //           display: block;
  //           object-position: top;
  //         }
  //       }
  //     }
  //   }
}
