.Navigation {
  grid-column: 1;
  background: transparent;
  width: 100%;
  height: 5vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem var(--padding-bg);

  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 111;

  visibility: hidden;
  // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

////////////////////
// Logo => tokyo traveler text
.logo {
  width: auto;
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: lowercase;
}

////////////////////
// Navigation Button => hamburger menu bar
.navContainer {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 4rem;
  height: 5vh;
  // background-color: white;

  .navBtnTop,
  .navBtnBottom {
    height: 3px;
    margin-bottom: 1rem;
    background-color: white;
    position: absolute;
    transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .navBtnTop {
    width: 4rem;
    right: 0;
    top: 40%;
  }

  .navBtnBottom {
    width: 3rem;
    right: 0;
    top: 60%;
  }

  &:hover > div {
    background-color: rgb(255, 0, 0);
  }
}
