
.Home {
    background-color: indigo;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: [left-gutter] 1fr [content] 12fr [right-gutter] 1fr;
    grid-template-rows: [landing] 100vh [about] 100vh [articles] 100vh [calculator] 100vh;
}

.Landing {
    grid-column: content;
    background-color: lawngreen;
    // grid-row: Landing;
}
.About { 
    grid-column: content;
    // grid-row: About;
}
.Articles {
    grid-column: content;
    // grid-row: Articles;
}
.Calculator {
    grid-column: content;
    // grid-row: Calculator;
}