.Footer {
  background-color: rgb(250, 240, 230);
  background-color: var(--ghost-white);
  // (248,248,255)
  // color: #fff;

  width: 100%;
  display: grid;
  grid-template-columns: minmax(5vw, 1fr) minmax(25rem, 6fr) minmax(5vw, 1fr);
  padding: 8rem 4rem;
}

.linksGrid {
  // background-color: lightgreen;
  grid-column: 2 / 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .linkTitle {
    font-family: var(--font-san-serif);
    color: #fff;
    color: var(--japan-red);
    letter-spacing: 0.5px;
  }

  .title {
    font-family: var(--font-san-serif);
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.7px;
  }

  ul {
    margin-right: 5rem;
    text-decoration: none;
    list-style: none;

    li {
      font-family: var(--font-san-serif);
      line-height: 160%;
      margin-bottom: 0.8rem;
      letter-spacing: 0.7px;

      &:first-child {
        margin-bottom: 1.2rem;
        font-weight: 600;
      }

      a {
        color: #fff;
        color: #000;
        text-decoration: none;
      }
    }
  }
}
