// EB GARAMOND
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");
// PLAYFAIR DISPLAY & SOURCE SANS PRO
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&display=swap");

// HOW TO USE FONTS //
// font-family: 'EB Garamond', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Source Sans Pro', sans-serif;

// COLORS //
$dark-red: #d90429;
$light-red: #ef233c;
$white-blue: #edf2f4;
$blue-gray: #8d99ae;
$dark-blue: #2b2d42;

// Using CSS Variables
:root {
  // FONT FAMILIES
  --font-serif: "Playfair Display", serif;
  --font-san-serif: "Source Sans Pro", sans-serif;

  // FONT SIZES

  //  COLORS
  --japan-red: #c70025;
  --dark-red: #d90429;
  --light-red: #ef233c;
  --white-blue: #edf2f4;
  --blue-gray: #8d99ae;
  --dark-blue: #2b2d42;

  --test-bg-color: #15121b;
  --test-form-color: #27282f;

  // SPACING
  --padding-bg: 10rem;
  --padding-md: 5rem;
  --padding-sm: 1rem;
}

// Global Styling //

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 62.5% of 16px (the typical default browser font-size) is 10px
}

body {
  font-family: "EB Garamond", serif;
  font-size: 1.6rem; // 1rem = 10px
}

.App {
  max-width: 100vw;
  overflow-x: hidden;
}
